<% @residents.each do |resident| %>
<p>Name: <%= resident.name %>, Age: <%= resident.age %>, Occupation: <%= resident.occupation %></p>
<br>
<% end %>
<br>
<p>Average Age: <%= @residents.find_avg_age %></p>